<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.LayerControl" author="SuperMap Desktop .NET 6R PDT" url="www.supermap.com.cn" description="SuperMap.Desktop.LayerControl" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/LayerControl/SuperMap.Desktop.LayerControl.dll" className="SuperMap.Desktop.LayerControl._Plugin" loadOrder="25" enabled="True" />
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="2002" id="地图功能扩展" label="地图功能扩展" formClass="SuperMap.Desktop.FormMap" visible="true">
          <group index="0" id="地图图层控制" label="地图图层控制" image="" visible="true" customProperty="">
            <button index="0" label="图层过滤显示" visible="true" beginGroup="false" checkState="true" assemblyName="./Plugins/LayerControl/SuperMap.Desktop.LayerControl.dll" onAction="SuperMap.Desktop.LayerControl._CtrlActionLayerControl" size="Large" image="" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <startMenu />
  <dockbar />
  <statusbars />
  <contextMenus />
  <toolbars />
</plugin>